<app-ruta-general [migasDePan]="migasDePan">
  <div class="contenido">

    <mlab-titulo-pantalla
      [titulo]="'Gestión de periodos'"
      [descripcion]="'Gestione los periodos de trabajo de las ventas de la empresa.'"
      [imagen]="'assets/imagenes/sistema/empresa-cronograma-detalle.svg'"
      [ayuda]="nombrePapa"
    >
    </mlab-titulo-pantalla>

    <div class="row">
      <div class="col-lg-6">
        <form class="form-inline row" novalidate>
          <div class="col-sm-12">
            <div class="input-group mb-3">
              <input type="text" class="form-control" aria-describedby="busquedaPeriodoVentaHelp"
                     placeholder="Ingrese su búsqueda....." #busqueda>
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="btn" id="button-addon2"
                        (click)="buscarPorNombrePeriodo(busqueda.value)"><i class="fas fa-search"></i> Buscar
                </button>
              </div>
            </div>
            <small id="busquedaTipoVendedorHelp" class="form-text text-muted ayuda-span"> Busque un periodo de venta por
              periodo.
            </small>
          </div>
        </form>
      </div>
      <div class="col-lg-3">
        <ml-select-estado (estadoSeleccionado)="escucharEstadoSeleccionado($event)"></ml-select-estado>
      </div>
      <div class="col-lg-3">
        <button class="btn btn-outline-primary  btn-block" (click)="abrirModalCrearPeriodoVenta()"><i
          class="fas fa-plus"></i> Nuevo
        </button>
      </div>
    </div>
    <div>
      <ml-filter-fechas (consultaFilterFechas)="buscarPorFechas($event)"
      ></ml-filter-fechas>

    </div>
    <div class="row separacion-top-2 separacion-fondo-1">
      <div class="col-sm-12">
        <div class="col-sm-12">
          <p-table [responsive]="true" [columns]="columnas" [value]="values" [lazy]="true"
                   (onLazyLoad)="cargarDatosLazy($event)" [paginator]="true" [rows]="rows" [totalRecords]="totalRecords"
                   [loading]="loading" [first]="this.queryParams.skip" [resizableColumns]="true">
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th class="text-center" *ngFor="let col of columns" [style.width]="col.width">
                  {{col.header}}
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
              <tr>
                <td [attr.colspan]="columnas.length">
                  No existen registros
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-rowIndex let-columns="columns">

              <tr [ngStyle]="{'background-color': optionalParams?.registroActual == rowData.id ? '#b2ebff' : null}">
                <td class="text-center" *ngFor="let col of columns">
                  <span class="ui-column-title">{{col.header}}</span>
                  <div *ngIf="col.header === '#'">
                    {{values.indexOf(rowData) + 1}}
                  </div>
                  <div *ngIf="col.field==='nombre'">
                    {{rowData[col.field]}}
                  </div>
                  <div *ngIf="col.field==='fechaInicio'">
                    {{rowData[col.field]}}
                  </div>
                  <div *ngIf="col.field==='fechaFin'">
                    {{rowData[col.field]}}
                  </div>
                  <div *ngIf="col.field==='descripcion'">
                    {{rowData[col.field] ? rowData[col.field] : 'No tiene'}}
                  </div>
                  <div *ngIf="col.header === 'Estado'">
                    <button class="btn btn-block btn-success btn-sm"
                            [disabled]="((rowData[col.field] === estados.Inactivo) || (rowData[col.field] === estados.Cerrado))"
                            (click)="abrirModalConfirmacionCambioPeriodo(rowData)" [ngClass]="{
                    'btn-danger':rowData[col.field] === estados.Inactivo,
                    'btn-success':rowData[col.field] === estados.Activo,
                    'btn-secondary':rowData[col.field] === estados.Cerrado
                    }">{{
                        rowData[col.field] === estados.Activo ? 'Activo' : rowData[col.field] === estados.Inactivo ? 'Inactivo' : rowData[col.field] === estados.Cerrado ? 'Cerrado' : 'Sin estado'
                      }}</button>
                  </div>

                  <div *ngIf="col.header==='Acciones'">
                    <div style="padding-top: 0.2rem; padding-bottom: 0.2rem">
                      <button class="btn btn-block btn-info btn-sm"
                              (click)="abrirModalEditarPeriodoVenta(rowData)">EDITAR
                      </button>
                    </div>
                  </div>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
</app-ruta-general>
