
<form novalidate [formGroup]="calificacionProveedor.formGroup">
    <fieldset class="col-md-12">
        <div class="row">
            <!--calificacion-->
            <div class="col-sm-12 form-group" *ngIf="!configuracionDisabled.Calificacion.hidden">
                <div class="row">
                    <label class="col-sm-4 control-label" [for]="calificacionProveedor.mensajesValidacionCalificacion.nombreInput">{{
                        calificacionProveedor.mensajesValidacionCalificacion.nombreAPresentarse }}</label>
                    <div class="col-sm-8">
                      <p-rating
                        [formControlName]="calificacionProveedor.mensajesValidacionCalificacion.nombreInput"
                        [cancel]="false"
                      ></p-rating>
<!--                        <input type="number"-->
<!--                                class="form-control form-control-sm"-->
<!--                                [id]="calificacionProveedor.mensajesValidacionCalificacion.nombreInput"-->
<!--                                [name]="calificacionProveedor.mensajesValidacionCalificacion.nombreInput"-->
<!--                                [formControlName]="calificacionProveedor.mensajesValidacionCalificacion.nombreInput"-->
<!--                                [placeholder]="calificacionProveedor.mensajesValidacionCalificacion.tooltip"-->
<!--                                [title]="calificacionProveedor.mensajesValidacionCalificacion.title"-->
<!--                                aria-describedby="calificacionProveedorCalificacionAyuda"-->
<!--                               min="0"-->

<!--                        >-->
                        <small id="calificacionProveedorCalificacionAyuda" class="form-text text-muted">{{calificacionProveedor.mensajesValidacionCalificacion.title}}.</small>
                    </div>
                    <div class="col-sm-12">

                        <div class="animated fadeInUp alert alert-warning" role="alert"
                            *ngIf="calificacionProveedor.mensajesValidacionCalificacion.mensajes.length>0">
                            <div *ngFor="let mensaje of calificacionProveedor.mensajesValidacionCalificacion.mensajes">{{ mensaje }}</div>
                        </div>
                    </div>
                </div>
            </div>

            <!--observacion-->
            <div class="col-sm-12 form-group" *ngIf="!configuracionDisabled.Observacion.hidden">
                <div class="row">
                    <label class="col-sm-4 control-label" [for]="calificacionProveedor.mensajesValidacionObservacion.nombreInput">{{
                        calificacionProveedor.mensajesValidacionObservacion.nombreAPresentarse }}</label>
                    <div class="col-sm-8">
                        <input type="text"
                                class="form-control form-control-sm"
                                [id]="calificacionProveedor.mensajesValidacionObservacion.nombreInput"
                                [name]="calificacionProveedor.mensajesValidacionObservacion.nombreInput"
                                [formControlName]="calificacionProveedor.mensajesValidacionObservacion.nombreInput"
                                [placeholder]="calificacionProveedor.mensajesValidacionObservacion.tooltip"
                                [title]="calificacionProveedor.mensajesValidacionObservacion.title"
                                aria-describedby="calificacionProveedorObservacionAyuda"
                                maxlength="100"

                        >
                        <small id="calificacionProveedorObservacionAyuda" class="form-text text-muted">{{calificacionProveedor.mensajesValidacionObservacion.title}}.</small>
                    </div>
                    <div class="col-sm-12">

                        <div class="animated fadeInUp alert alert-warning" role="alert"
                            *ngIf="calificacionProveedor.mensajesValidacionObservacion.mensajes.length>0">
                            <div *ngFor="let mensaje of calificacionProveedor.mensajesValidacionObservacion.mensajes">{{ mensaje }}</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </fieldset>
</form>
