`
<man-lab-modal-general
  [nombreBotonAceptar]="data.cronogramaDetalle?'EDITAR':'CREAR'"
  [nombreBotonCancelar]="'Cancelar'"
  [formularioValido]="formularioValido"
  (dioClickEnCancelar)="cerrarModal()"
  (dioClickEnAceptar)="editarOCrear()"
>

  <div class="titulo">{{data.cronogramaDetalle ? 'EDITAR' : 'CREAR'}} CRONOGRAMA CABECERA</div>

  <div class="contenido">

    <div class="row">
      <div class="col-md-12">
        <man-lab-esta-tipeando></man-lab-esta-tipeando>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <p class="descripcion-modal">{{descripcion}}</p>
      </div>

      <app-crono-vend-detalle-formulario
        [idRuta]="data.idRuta"
        [configuracionDisabled]="configuracionDisabled"
        (empezoATipear)="establecerFormularioInvalido()"
        (cronoVendDetalleValido)="validarFormulario($event)"
      ></app-crono-vend-detalle-formulario>

      <div class="col-sm-12">

      </div>
      <div class="espacio"></div>
    </div>

  </div>
</man-lab-modal-general>
`
