<div *transloco="let t; read: 'submoduloCertificadosCuros.pregunta.componentes.listaComponente'">
  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-12 ">
            <h3 class="text-primary text-center">
              {{t('descripciones.lista')}}
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
<div class="col-sm-12">
  <br>
  <div class="row">
    <div class="col-sm-12">
      <ml-filter-pregunta
        [idModuloCurso]="idModuloCurso"
        (preguntasEncontradas)="setearPreguntas($event)">
      </ml-filter-pregunta>
    </div>
  </div>
  <br>
  <div class="row">
    <ml-tabla-pregunta
      [preguntasEncontradas]="preguntasEncontradas"
      [totalRegistros]="totalRegistros"
      [columnas]="columnas"
      (emitirSkip)="setearSkip($event)"
      (preguntasSeleccionada)="obtenerPreguntasSeleccionadas($event)">
    </ml-tabla-pregunta>
  </div>

</div>
