
<div class="row">
  <div class="col-sm-12 form-group" >
    <div class="row">
      <label class="col-sm-3 control-label" [for]="'lugar'">Lugar</label>
      <div class="col-sm-9">
        <p-autoComplete
          [suggestions]="lugares"
          (completeMethod)="obtenerCiudadZonas($event)"
          [dropdown]="true"
          [placeholder]="text"
          [emptyMessage]="noExistenRegistros"
          (onSelect)="enviarCiudadSeleccionado($event)"
          (onDropdownClick)="ocultarZona()"
          (onKeyUp)="ocultarZona()"
          field="nombre"
        >
          <ng-template let-ciudad pTemplate="item">
            <div class="ui-helper-clearfix" style="text-align: center">
              <div>{{ciudad.nombre}} </div>
            </div>
          </ng-template>
        </p-autoComplete>
        <small id="zonaAyuda" class="form-text text-muted">Seleccione un lugar.</small>
      </div>
    </div>
  </div>
</div>
