
<form novalidate [formGroup]="calificacionCliente.formGroup">
    <fieldset class="col-md-12">
        <div class="row">
            <!--calificacion-->
            <div class="col-sm-12 form-group" *ngIf="!configuracionDisabled.Calificacion.hidden">
                <div class="row">
                    <label class="col-sm-4 control-label" [for]="calificacionCliente.mensajesValidacionCalificacion.nombreInput">{{
                        calificacionCliente.mensajesValidacionCalificacion.nombreAPresentarse + ' *'}}</label>
                    <div class="col-sm-8">
                      <p-rating
                        [formControlName]="calificacionCliente.mensajesValidacionCalificacion.nombreInput"
                        [cancel]="false"
                      ></p-rating>
<!--                      <input type="number"-->
<!--                                class="form-control form-control-sm"-->
<!--                                [id]="calificacionCliente.mensajesValidacionCalificacion.nombreInput"-->
<!--                                [name]="calificacionCliente.mensajesValidacionCalificacion.nombreInput"-->
<!--                                [formControlName]="calificacionCliente.mensajesValidacionCalificacion.nombreInput"-->
<!--                                [placeholder]="calificacionCliente.mensajesValidacionCalificacion.tooltip"-->
<!--                                [title]="calificacionCliente.mensajesValidacionCalificacion.title"-->
<!--                                aria-describedby="calificacionClienteCalificacionAyuda"-->
<!--                                min="1"-->

<!--                        >-->
                        <small id="calificacionClienteCalificacionAyuda" class="form-text text-muted">{{calificacionCliente.mensajesValidacionCalificacion.title}}.</small>
                    </div>
                    <div class="col-sm-12">

                        <div class="animated fadeInUp alert alert-warning" role="alert"
                            *ngIf="calificacionCliente.mensajesValidacionCalificacion.mensajes.length>0">
                            <div *ngFor="let mensaje of calificacionCliente.mensajesValidacionCalificacion.mensajes">{{ mensaje }}</div>
                        </div>
                    </div>
                </div>
            </div>

            <!--observacion-->
            <div class="col-sm-12 form-group" *ngIf="!configuracionDisabled.Observacion.hidden">
                <div class="row">
                    <label class="col-sm-4 control-label" [for]="calificacionCliente.mensajesValidacionObservacion.nombreInput">{{
                        calificacionCliente.mensajesValidacionObservacion.nombreAPresentarse }}</label>
                    <div class="col-sm-8">
                        <input type="text"
                                class="form-control form-control-sm"
                                [id]="calificacionCliente.mensajesValidacionObservacion.nombreInput"
                                [name]="calificacionCliente.mensajesValidacionObservacion.nombreInput"
                                [formControlName]="calificacionCliente.mensajesValidacionObservacion.nombreInput"
                                [placeholder]="calificacionCliente.mensajesValidacionObservacion.tooltip"
                                [title]="calificacionCliente.mensajesValidacionObservacion.title"
                                aria-describedby="calificacionClienteObservacionAyuda"
                                maxlength="100"

                        >
                        <small id="calificacionClienteObservacionAyuda" class="form-text text-muted">{{calificacionCliente.mensajesValidacionObservacion.title}}.</small>
                    </div>
                    <div class="col-sm-12">

                        <div class="animated fadeInUp alert alert-warning" role="alert"
                            *ngIf="calificacionCliente.mensajesValidacionObservacion.mensajes.length>0">
                            <div *ngFor="let mensaje of calificacionCliente.mensajesValidacionObservacion.mensajes">{{ mensaje }}</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </fieldset>
</form>
