<form autocomplete="off" [formGroup]="formBusqueda">
  <div class="row ui-g ui-fluid barra-busqueda">
    <!--<div class="col-md-2" (click)="menuPanel = !menuPanel"><i class="pi pi-pw pi-search"></i></div>-->
    <div class="col-md-8">
      <input *ngIf="menuPanel" type="text" pInputText placeholder="Búsqueda...." formControlName="palabraBusqueda">
    </div>

  </div>

  <div class="row ">
    <div style="padding-left: 0.5rem" class="col-sm-12 panel" *ngIf="menuPanel">
      <p-panelMenu  [multiple]="false" [model]="items"   ></p-panelMenu>
    </div>
    <div class="ui-fluid ui-g ancho-menu-iconos" *ngIf="!menuPanel">
      <ml-menu-lateral-iconos
        [iconosItems]="iconosItems"
        (itemSeleccionado)="expandirIconoEnMenuPanel($event)"
      ></ml-menu-lateral-iconos>
    </div>
  </div>
</form>
