<div class="row">
  <div class="col-sm-12">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-12 ">
          <h3 class="text-primary text-center">Lista de contactos por empresa</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-sm-12">
  <ml-filter-contacto-empresa
    (contatoEmpresaEncontrada)="setearContatosEmpresa($event)"
  ></ml-filter-contacto-empresa>
</div>

<div class="row">
  <ml-tabla-contacto-empresa
    [contatosEmpresaEncontrados]="contactosEmpresaEncontrados"
    [totalRegistros]="totalRegistros"
    [columnas]="columnas"
    (emitirSkip)="setearSkip($event)"
    (contactoEmpresaSeleccionado)="obtenerContactoEmpresaSeleccionado($event)"
  ></ml-tabla-contacto-empresa>
</div>

<mat-dialog-actions class="justify-content-start">
  <div class="d-flex flex-row-reverse">
    <div class="col-sm-12 p-2">
      <button mat-button mat-dialog-close class="btn btn-outline-primary">CANCELAR</button>
    </div>
  </div>
</mat-dialog-actions>
