<man-lab-modal-general
  [nombreBotonAceptar]="data.cronogramaCabecera?'EDITAR':'CREAR'"
  [nombreBotonCancelar]="'Cancelar'"
  [formularioValido]="formularioValido"
  (dioClickEnCancelar)="cerrarModal()"
  (dioClickEnAceptar)="editarOCrear()"
>

  <div class="titulo">{{data.cronogramaCabecera ? 'EDITAR' : 'CREAR'}} CRONOGRAMA CABECERA</div>

  <div class="contenido">

    <div class="row">
      <div class="col-md-12">
        <man-lab-esta-tipeando></man-lab-esta-tipeando>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <p class="descripcion-modal">{{descripcion}}</p>
      </div>

      <div class="col-sm-12">
        <app-crono-vend-cabecera-formulario
          [idEmpresa]="data.idEmpresa"
          [configuracionDisabled]="configuracionDisabled"
          (empezoATipear)="establecerFormularioInvalido()"
          (cronoVendCabeceraValido)="validarFormulario($event)"
        ></app-crono-vend-cabecera-formulario>
      </div>
      <div class="espacio"></div>
    </div>

  </div>
</man-lab-modal-general>
