.circulo-amarillo {
  background-color: #d6a103;
  height: 20px;
  width: 20px;
  border: 1px solid #d6a103;
  border-radius: 60px;
  margin: auto;
}

.circulo-verde {
  background-color: #1e8034;
  height: 20px;
  width: 20px;
  border: 1px solid #1e8034;
  border-radius: 60px;
  margin: auto;
}

.cuadrado-azul {
  background-color: #36546f;
  height: 20px;
  width: 20px;
  border: 1px solid #36546f;
  border-radius: 60px;
  margin: auto;
}


.quitar-padding {
  padding: 0px;
}

.texto-bolita {
  text-align: right;
}

.texto-rojo {
  color: #dc3545;
}

.texto-primary {
  color: #36546f;
}

.icono {
  color: #078fb3;
}

.texto-calculado {
  color: #1e8034;
  font-weight: bold;
}


