<div class="row">
  <div class="col-sm-12">
    <p-fieldset legend="Nota credito compra">
      <div class="row">
        <div class="col-sm-12">
          <label for="tipo" class="col-sm-12">Tipo:</label>
          <form class="form-inline" novalidate>
            <div class="input-group col-sm-12">
              <input id="tipo" type="text" class="form-control"
                     placeholder="Tipo de movimiento" readonly>
            </div>
          </form>
        </div>
      </div>

      <br>

      <div class="row">
        <div class="col-sm-12">
          <label for="codigo-cliente" class="col-sm-12">Código del cliente:</label>
          <form class="form-inline" novalidate>
            <div class="input-group col-sm-12">
              <input id="codigo-cliente" type="text" class="form-control"
                     placeholder="Código cliente" readonly>
            </div>
          </form>
        </div>
      </div>

      <br>

      <div class="row">
        <div class="col-sm-12">
          <label for="numero-factura" class="col-sm-12">Número de factura:</label>
          <form class="form-inline" novalidate>
            <div class="input-group col-sm-12">
              <input  id="numero-factura" type="text" class="form-control"
                     placeholder="Número de factura" readonly>
            </div>
          </form>
        </div>
      </div>

      <br>

      <div class="row">
        <div class="col-sm-12">
          <label for="autorizacion" class="col-sm-12">Autorización:</label>
          <form class="form-inline" novalidate>
            <div class="input-group col-sm-12">
              <input id="autorizacion" type="text" class="form-control"
                     placeholder="Autorización" readonly>
            </div>
          </form>
        </div>
      </div>

      <br>

      <div class="row">
        <div class="col-sm-12">
          <label for="fecha-emision" class="col-sm-12">Fecha de emisión:</label>
          <form class="form-inline" novalidate>
            <div class="input-group col-sm-12">
              <input id="fecha-emision" type="text" class="form-control"
                     placeholder="Fecha de emisión" readonly>
            </div>
          </form>
        </div>
      </div>

      <br>

      <div class="row">
        <div class="col-sm-12">
          <label for="fecha-emision" class="col-sm-12">Fecha de caducidad:</label>
          <form class="form-inline" novalidate>
            <div class="input-group col-sm-12">
              <input id="fecha-caducidad" type="text" class="form-control"
                     placeholder="Fecha de caducidad" readonly>
            </div>
          </form>
        </div>
      </div>

      <br>
    </p-fieldset>
  </div>
</div>
