
<form novalidate [formGroup]="bodega.formGroup">
    <fieldset class="col-md-12">
        <div class="row">
            <!--nombre-->
            <div class="col-sm-12 form-group" *ngIf="!configuracionDisabled.Nombre.hidden">
                <div class="row">
                    <label class="col-sm-4 control-label" [for]="bodega.mensajesValidacionNombre.nombreInput">{{
                        bodega.mensajesValidacionNombre.nombreAPresentarse + (bodega.mensajesValidacionNombre.required ? ': *' : '')}}</label>
                    <div class="col-sm-8">
                        <input type="text"
                                class="form-control form-control-sm"
                                [id]="bodega.mensajesValidacionNombre.nombreInput"
                                [name]="bodega.mensajesValidacionNombre.nombreInput"
                                [formControlName]="bodega.mensajesValidacionNombre.nombreInput"
                                [placeholder]="bodega.mensajesValidacionNombre.tooltip"
                                [title]="bodega.mensajesValidacionNombre.title"
                                aria-describedby="bodegaNombreAyuda"


                        >
                        <small id="bodegaNombreAyuda" class="form-text text-muted">{{bodega.mensajesValidacionNombre.title}}.</small>
                    </div>
                    <div class="col-sm-12">

                        <div class="animated fadeInUp alert alert-warning" role="alert"
                            *ngIf="bodega.mensajesValidacionNombre.mensajes.length>0">
                            <div *ngFor="let mensaje of bodega.mensajesValidacionNombre.mensajes">{{ mensaje }}</div>
                        </div>
                    </div>
                </div>
            </div>

            <!--codigo-->
            <div class="col-sm-12 form-group" *ngIf="!configuracionDisabled.Codigo.hidden">
                <div class="row">
                    <label class="col-sm-4 control-label" [for]="bodega.mensajesValidacionCodigo.nombreInput">{{
                        bodega.mensajesValidacionCodigo.nombreAPresentarse + (bodega.mensajesValidacionCodigo.required ? ': *' : '')}}</label>
                    <div class="col-sm-8">
                        <input type="text"
                                class="form-control form-control-sm"
                                [id]="bodega.mensajesValidacionCodigo.nombreInput"
                                [name]="bodega.mensajesValidacionCodigo.nombreInput"
                                [formControlName]="bodega.mensajesValidacionCodigo.nombreInput"
                                [placeholder]="bodega.mensajesValidacionCodigo.tooltip"
                                [title]="bodega.mensajesValidacionCodigo.title"
                                aria-describedby="bodegaCodigoAyuda"


                        >
                        <small id="bodegaCodigoAyuda" class="form-text text-muted">{{bodega.mensajesValidacionCodigo.title}}.</small>
                    </div>
                    <div class="col-sm-12">

                        <div class="animated fadeInUp alert alert-warning" role="alert"
                            *ngIf="bodega.mensajesValidacionCodigo.mensajes.length>0">
                            <div *ngFor="let mensaje of bodega.mensajesValidacionCodigo.mensajes">{{ mensaje }}</div>
                        </div>
                    </div>
                </div>
            </div>

            <!--direccion-->
            <div class="col-sm-12 form-group" *ngIf="!configuracionDisabled.Direccion.hidden">
                <div class="row">
                    <label class="col-sm-4 control-label" [for]="bodega.mensajesValidacionDireccion.nombreInput">{{
                        bodega.mensajesValidacionDireccion.nombreAPresentarse + (bodega.mensajesValidacionDireccion.required ? ': *' : '') }}</label>
                    <div class="col-sm-8">
                        <input type="text"
                                class="form-control form-control-sm"
                                [id]="bodega.mensajesValidacionDireccion.nombreInput"
                                [name]="bodega.mensajesValidacionDireccion.nombreInput"
                                [formControlName]="bodega.mensajesValidacionDireccion.nombreInput"
                                [placeholder]="bodega.mensajesValidacionDireccion.tooltip"
                                [title]="bodega.mensajesValidacionDireccion.title"
                                aria-describedby="bodegaDireccionAyuda"


                        >
                        <small id="bodegaDireccionAyuda" class="form-text text-muted">{{bodega.mensajesValidacionDireccion.title}}.</small>
                    </div>
                    <div class="col-sm-12">

                        <div class="animated fadeInUp alert alert-warning" role="alert"
                            *ngIf="bodega.mensajesValidacionDireccion.mensajes.length>0">
                            <div *ngFor="let mensaje of bodega.mensajesValidacionDireccion.mensajes">{{ mensaje }}</div>
                        </div>
                    </div>
                </div>
            </div>

            <!--esPercha-->
            <div class="col-sm-12 form-group" *ngIf="!configuracionDisabled.EsPercha.hidden">
                <div class="row">
                    <label class="col-sm-4 control-label" [for]="bodega.mensajesValidacionEsPercha.nombreInput">{{
                    bodega.mensajesValidacionEsPercha.nombreAPresentarse + (bodega.mensajesValidacionEsPercha.required ? ': *' : '')}}</label>
                    <div class="col-sm-8">
                        <select class="form-control form-control-sm" [name]="bodega.mensajesValidacionEsPercha.nombreInput"
                                [id]="bodega.mensajesValidacionEsPercha.nombreInput"
                                [formControlName]="bodega.mensajesValidacionEsPercha.nombreInput"
                        >

                            <option value="1">Si</option>
                            <option value="0">No</option>

                        </select>
                      <small id="bodegaEsPerchaAyuda" class="form-text text-muted">{{bodega.mensajesValidacionEsPercha.title}}.</small>
                    </div>
                    <div class="col-sm-12">
                        <div class="animated fadeInUp alert alert-warning" role="alert"
                            *ngIf="bodega.mensajesValidacionEsPercha.mensajes.length>0">
                            <div *ngFor="let mensaje of bodega.mensajesValidacionEsPercha.mensajes">{{ mensaje }}</div>
                        </div>
                    </div>
                </div>
            </div>

            <!--contactoEmpresa-->
            <div class="col-sm-12 form-group" *ngIf="!configuracionDisabled.ContactoEmpresa.hidden">
                <div class="row">
                    <label class="col-sm-4 control-label" [for]="bodega.mensajesValidacionContactoEmpresa.nombreInput">{{
                        bodega.mensajesValidacionContactoEmpresa.nombreAPresentarse + (bodega.mensajesValidacionContactoEmpresa.required ? ': *' : '')}}</label>
                    <div class="col-sm-8">
                        <p-autoComplete
                            [inputId]="bodega.mensajesValidacionContactoEmpresa.nombreInput"
                            inputStyleClass="undefined"
                            autoHighlight="true"
                            [dropdown]="true"
                            (onSelect)="seleccionarContacto($event)"
                            [emptyMessage]="NO_EXISTEN_REGISTROS"
                            [formControlName]="bodega.mensajesValidacionContactoEmpresa.nombreInput"
                            [suggestions]="objetoVariablesGlobales.contactoEmpresas"
                            (completeMethod)="buscarContactoEmpresas($event)"
                            [placeholder]="bodega.mensajesValidacionContactoEmpresa.tooltip"
                            delay="1000"
                            field="datosUsuario.identificacionPais">
                                <ng-template let-contactoEmpresa pTemplate="item">
                                    {{ contactoEmpresa.datosUsuario.identificacionPais }}
                                </ng-template>
                        </p-autoComplete>
                      <small id="bodegaAdminstradorAyuda" class="form-text text-muted">{{bodega.mensajesValidacionContactoEmpresa.title}}.</small>
                    </div>
                    <div class="col-sm-12">
                        <div class="animated fadeInUp alert alert-warning" role="alert"
                            *ngIf="bodega.mensajesValidacionContactoEmpresa.mensajes.length>0">
                            <div *ngFor="let mensaje of bodega.mensajesValidacionContactoEmpresa.mensajes">{{ mensaje }}</div>
                        </div>
                    </div>
                </div>
            </div>

            <!--nombres-->
            <div class="col-sm-12 form-group" *ngIf="!configuracionDisabled.Nombres.hidden">
                <div class="row">
                    <label class="col-sm-4 control-label" [for]="bodega.mensajesValidacionNombres.nombreInput">{{
                        bodega.mensajesValidacionNombres.nombreAPresentarse }}</label>
                    <div class="col-sm-8">
                        <input type="text"
                                class="form-control form-control-sm"
                                [id]="bodega.mensajesValidacionNombres.nombreInput"
                                [name]="bodega.mensajesValidacionNombres.nombreInput"
                                [formControlName]="bodega.mensajesValidacionNombres.nombreInput"
                                [placeholder]="bodega.mensajesValidacionNombres.tooltip"
                                [title]="bodega.mensajesValidacionNombres.title"
                                aria-describedby="bodegaNombresAyuda"


                        >
                        <small id="bodegaNombresAyuda" class="form-text text-muted">{{bodega.mensajesValidacionNombres.title}}.</small>
                    </div>
                    <div class="col-sm-12">

                        <div class="animated fadeInUp alert alert-warning" role="alert"
                            *ngIf="bodega.mensajesValidacionNombres.mensajes.length>0">
                            <div *ngFor="let mensaje of bodega.mensajesValidacionNombres.mensajes">{{ mensaje }}</div>
                        </div>
                    </div>
                </div>
            </div>

            <!--apellidos-->
            <div class="col-sm-12 form-group" *ngIf="!configuracionDisabled.Apellidos.hidden">
                <div class="row">
                    <label class="col-sm-4 control-label" [for]="bodega.mensajesValidacionApellidos.nombreInput">{{
                        bodega.mensajesValidacionApellidos.nombreAPresentarse }}</label>
                    <div class="col-sm-8">
                        <input type="text"
                                class="form-control form-control-sm"
                                [id]="bodega.mensajesValidacionApellidos.nombreInput"
                                [name]="bodega.mensajesValidacionApellidos.nombreInput"
                                [formControlName]="bodega.mensajesValidacionApellidos.nombreInput"
                                [placeholder]="bodega.mensajesValidacionApellidos.tooltip"
                                [title]="bodega.mensajesValidacionApellidos.title"
                                aria-describedby="bodegaApellidosAyuda"


                        >
                        <small id="bodegaApellidosAyuda" class="form-text text-muted">{{bodega.mensajesValidacionApellidos.title}}.</small>
                    </div>
                    <div class="col-sm-12">

                        <div class="animated fadeInUp alert alert-warning" role="alert"
                            *ngIf="bodega.mensajesValidacionApellidos.mensajes.length>0">
                            <div *ngFor="let mensaje of bodega.mensajesValidacionApellidos.mensajes">{{ mensaje }}</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </fieldset>
</form>
