<h1 class="text-primary" mat-dialog-title> <span class="bold">{{data.tipoVendedor?'EDITAR':'CREAR'}} TIPO VENDEDOR </span> </h1>
<div mat-dialog-content>
  <div class="row contenido-modal">
    <div class="col-md-12">
      <p class="descripcion-modal">{{descripcion}}</p>
    </div>
    <div class="col-md-12">
      <man-lab-esta-tipeando></man-lab-esta-tipeando>
    </div>
    <br>
    <div class="col-md-12">
      <ml-tipo-vendedor-formulario (empezoATipear)="establecerFormularioInvalido()"
        [configuracionDisabled]="configuracionTipoVendedor" (tipoVendedorValido)="validarFormulario($event)">


      </ml-tipo-vendedor-formulario>
    </div>
    <div class="espacio"></div>
  </div>

</div>

<mat-dialog-actions class="justify-content-end">
  <div class="d-flex flex-row-reverse">
    <div class="p-2">
      <button mat-button (click)="metodoCrearEditar()" class="btn btn-primary"
        [disabled]="!formularioValido">Guardar</button>
    </div>
    <div class="p-2">
      <button mat-button mat-dialog-close class="btn btn-outline-secondary">Cancelar</button>
    </div>
  </div>
</mat-dialog-actions>