<p-fieldset legend="Precios">
  <div class="row">
    <div class="col-sm-6">
      <p>P1: {{0 | number : '1.4-4' }}</p>
      <p>P2 {{0 | number : '1.4-4' }}</p>
      <p>P3: {{0 | number : '1.4-4' }}</p>
      <p>P4: {{0 | number : '1.4-4' }}</p>
      <p>P5: {{0 | number : '1.4-4' }}</p>
    </div>
    <div class="col-sm-6">
      <p>P1: {{0 | number : '1.4-4' }}</p>
      <p>P2 {{0 | number : '1.4-4' }}</p>
      <p>P3: {{0 | number : '1.4-4' }}</p>
      <p>P4: {{0 | number : '1.4-4' }}</p>
      <p>P5: {{0 | number : '1.4-4' }}</p>
    </div>
  </div>
</p-fieldset>
