<div class="row">
  <div class="col-sm-12">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-12 ">
          <h3 class="text-primary text-center">Lista de Bodegas</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-sm-12">
  <ml-filter-bodega
    [idEmpresa]="data.idEmpresa"
    (bodegasEncontradas)="setearBodegas($event)"
  ></ml-filter-bodega>
</div>

<div class="row separacion-top-2">
  <ml-tabla-bodegas
    [bodegasEncontradas]="bodegasEncontradas"
    [totalRegistros]="totalRegistros"
    [columnas]="columnas"
    (emitirSkip)="setearSkip($event)"
    (bodegaSeleccionada)="obtenerBodegaSeleccionada($event)"
  ></ml-tabla-bodegas>
</div>
<mat-dialog-actions class="justify-content-start">
  <div class="d-flex flex-row-reverse">
    <div class="col-sm-12 p-2">
      <button mat-button mat-dialog-close class="btn btn-outline-primary">CANCELAR</button>
    </div>
  </div>
</mat-dialog-actions>
