<ng-container *transloco="let t; read: rutaTraduccion">
  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-12 ">
            <h3 class="text-primary text-center">{{t('titulos.titulo')}}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<div class="row">
  <div class="col-sm-12">
    <ml-filter-precio
      [idArticuloEmpresa]="idArticuloEmpresa"
      (preciosEncontrados)="setearPreguntas($event)"
    >

    </ml-filter-precio>
  </div>
</div>
<br>
<div class="row">
  <ml-tabla-precio
    (emitirSkip)="setearSkip($event)"
    [columnas]="columnas"
    [totalRegistros]="totalRegistros"
    [preciosEncontrados]="preciosEncontrados"
    (precioSeleccionado)="obtenerPrecioSeleccionado($event)"
  >

  </ml-tabla-precio>
</div>
