<div class="col-sm-12">
  <div class="input-group mb-3">
    <input type="text" class="form-control" aria-describedby="busquedaArticuloHelp"
           placeholder="Ingrese su búsqueda..." [(ngModel)]="busqueda">
    <div>
      <button class="btn btn-outline-secondary" (click)="buscarArticuloPorNombreCodigo()"><i
        class="fas fa-search"></i> BUSCAR</button>
    </div>
  </div>
  <small id="busquedaArticuloHelp" class="form-text text-muted ayuda-span"> Busque un artículo por nombre o código.
  </small>
</div>
