.imagen-numero {
  height: 110px;
  margin: auto;
  width: 100%;
  margin-bottom: 15px;
}

.color-text-importante {
  color: #ff9a00;
}

.color-text-opaco {
  color: #a7a7a7;
}
.espacio{
  margin-top: 20px;
  margin-bottom: 20px;
}

.espacio-fondo{
  margin-bottom: 200px;
}
