<div *ngIf="ruta && habilitar">
  <app-ruta-general [migasDePan]="migasDePan">
    <div class="contenido">

      <mlab-titulo-pantalla
        [titulo]="'Gestión de Horarios '"
        [descripcion]="'Gestione los Horarios  .'"
        [imagen]="'assets/imagenes/sistema/vehiculos.svg'"
      >
      </mlab-titulo-pantalla>
      <!--        [ayuda]="usuario?.apellidos + ' ' + usuario?.nombres + ' ' + usuario?.identificacionPais"-->
      <!--    busqueda-->
      <div class="row separacion-fondo-2">
        <div class="col-sm-6">
          <form class="form-inline" novalidate>
            <div class="col-sm-12">
              <div class="input-group mb-3">
                <input type="text" class="form-control" aria-describedby="busquedaVehiculoHelp"
                       placeholder="Ingrese su búsqueda..." #busqueda>
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="btn" id="button-addon2"
                          (click)="buscarPorIdentificadorONombre(busqueda.value)"><i class="fas fa-search"></i> BUSCAR
                  </button>
                </div>
              </div>
              <small id="busquedaRolHelp" class="form-text text-muted ayuda-span"> Busque Horarios por descripcion
              </small>
            </div>
          </form>
        </div>
        <ml-select-estado
          (estadoSeleccionado)="escucharEstadoSeleccionado($event)"
        ></ml-select-estado>
        <div class="col-sm-3">
          <button class="btn btn-outline-primary  btn-block"
                  (click)="abrirModalCrearHorario()"
          >
            <i class="fas fa-plus"></i> NUEVO
          </button>
        </div>
      </div>

      <!--tabla-->
      <div class="row">
        <div class="col-sm-12">
          <p-table [responsive]="true" [columns]="columnas" [value]="values" [lazy]="true"
                   (onLazyLoad)="cargarDatos($event)"
                   [paginator]="true" [rows]="rows" [totalRecords]="totalRecords" [loading]="loading" [first]="first">
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th *ngFor="let col of columns">
                  {{col.header}}
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
              <tr [ngClass]="optionalParams?.registroActual == rowData.id ? 'fila-activa' : null">
                <td *ngFor="let col of columns">
                  <span class="ui-column-title">{{col.header}}</span>

                  <div *ngIf="col.header==='Descripción'">
                    {{rowData[col.field]}}
                  </div>
                  <div *ngIf="col.header==='Estado'">
                    <button class="btn btn-block btn-sm"
                            (click)="actualizarEstado(rowData)"
                            [ngClass]="{
                  'btn-danger': !rowData.habilitado,
                  'btn-success': rowData.habilitado
                  }"
                    >{{rowData.habilitado ? 'ACTIVO' : 'INACTIVO'}}</button>
                  </div>

                  <div *ngIf="col.header==='Acciones'">

                    <button class="btn btn-block btn-info btn-sm" (click)="abrirModalEditarHorario(rowData)">
                      Editar
                    </button>
                  </div>

                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
              <tr>
                <td [attr.colspan]="columns.length">
                  No se encontraron registros
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </app-ruta-general>
</div>


