<div class="row">
  <div class="col-sm-10">
    Comentario:
    <form class="form-inline" novalidate>
      <div class="input-group col-sm-12">
        <input type="text" class="form-control" aria-describedby="ayudaComentario"
               placeholder="Ingrese sus comentarios">
      </div>
    </form>

    <br>

    <small id="ayudaComentario" class="form-text text-muted ayuda-span">
      Ingrese sus comentarios
    </small>
  </div>

  <div class="col-sm-2">
    Número de pedido:
    <form class="form-inline" novalidate>
      <div class="input-group col-sm-12">
        <input type="text" class="form-control" aria-describedby="ayudaNumeroPedido"
               placeholder="Ingrese el número de pedido">
      </div>
    </form>

    <br>

    <small id="ayudaNumeroPedido" class="form-text text-muted ayuda-span">
      Ingrese el número de pedido
    </small>
  </div>
</div>
