<p-table
      [responsive]="true"
      [columns]="columnas"
      [value]="valores"
      [lazy]="true"
      [paginator]="true"
    >
      <ng-template pTemplate="header" let-columns>
        <tr >
          <th class="text-center" *ngFor="let col of columns" [style.width]="col.width">
            {{col.header}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td [attr.colspan]="columnas.length">
            No existen registros
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-rowIndex let-columns="columns">
        <tr>
          <td class="text-center" *ngFor="let col of columns">
            <span class="ui-column-title">{{col.header}}</span>
            <div *ngIf="col.header === '#'">
              {{valores.indexOf(rowData)+1}}
            </div>
            <div *ngIf="col.field==='razonSocial'">
              {{rowData.empresaProveedor[col.field]}}
            </div>
            <div *ngIf="col.field==='ruc'">
              {{rowData.empresaProveedor[col.field]}}
            </div>
            <div *ngIf="col.field==='calificacionTotal'">
              {{rowData[col.field]}}
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
