<div class="row">
  <div class="col-sm-9">
    <div class="input-group mb-3">
      <input type="text" class="form-control"  aria-describedby="busquedaEmpresaHelp"
             placeholder="Ingrese su búsqueda....." [(ngModel)]="busqueda">
      <div >
        <button class="btn btn-outline-secondary" type="btn" (click)="buscarRazonSocialRuc()"  ><i class="fas fa-search"></i> BUSCAR</button>
      </div>
    </div>
    <small id="busquedaEmpresaProveedorHelp" class="form-text text-muted ayuda-span" > Busque un proveedor por razón social o RUC.
    </small>
  </div>
  <div class="col-sm-3" *ngIf="mostrarSelectEstado">
      <div class="col-sm-12">
        <ml-select-estado
          (estadoSeleccionado)="escucharEstadoSeleccionado($event)"
        ></ml-select-estado>
      </div>
  </div>
</div>


