<div class="contenedor-item-menu animated fadeInUp" >
  <div class="row hvr-float" (click)="irARuta()">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-12" style="height: 160px;">
          <h2 class="titulo-item-menu">{{texto}}</h2>
          <img class="img-fluid imagen-item-menu rounded mx-auto d-block" [src]="imagen" [alt]="texto"
               [title]="texto">
        </div>
        <div class="col-lg-12">
          <p class="texto-item-menu">{{descripcion}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

