<div class="row">
  <div class="col-sm-5">
    Motivo:
    <form class="form-inline" novalidate>
      <div class="input-group col-sm-12">
        <input type="text" class="form-control" aria-describedby="ayudaMotivo"
               placeholder="Ingrese el motivo">
      </div>
    </form>

    <br>

    <small id="ayudaMotivo" class="form-text text-muted ayuda-span">
      Ingrese el motivo
    </small>
  </div>

  <div class="col-sm-5">
    Observación:
    <form class="form-inline" novalidate>
      <div class="input-group col-sm-12">
        <input type="text" class="form-control" aria-describedby="ayudaObservacion"
               placeholder="Ingrese la observación">
      </div>
    </form>

    <br>

    <small id="ayudaObservacion" class="form-text text-muted ayuda-span">
      Ingrese la observación
    </small>
  </div>

  <div class="col-sm-2">
    <div class="input-group-append">
      <div class="col-sm-11">
        Bodega:
      </div>

      <div class="col-sm-1">
        <button class="btn btn-outline-secondary btn-sm" id="button-editar-bodega">
          <i class="fas fa-pen"></i>
        </button>
      </div>
    </div>
  </div>
</div>
