<man-lab-modal-general
  [nombreBotonAceptar]="data.horario?'EDITAR':'CREAR'"
  [nombreBotonCancelar]="'Cancelar'"
  [formularioValido]="formularioValido"
  (dioClickEnCancelar)="cerrarModal()"
  (dioClickEnAceptar)="editarOCrear()"
>

  <div class="titulo">{{data.horario ? 'EDITAR' : 'CREAR'}} HORARIO </div>

  <div class="contenido">

    <div class="row">
      <div class="col-md-12">
        <man-lab-esta-tipeando></man-lab-esta-tipeando>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <p class="descripcion-modal">{{descripcion}}</p>
      </div>

      <div class="col-sm-12">
        <ml-horario-formulario
          [configuracionDisabled]="configuracionDisabled"
          (empezoATipear)="establecerFormularioInvalido()"
          (horarioValido)="validarFormulario($event)"
        ></ml-horario-formulario>
      </div>
      <div class="espacio"></div>
    </div>

  </div>
</man-lab-modal-general>
