<div class="col-sm-12">
  <div class="col-sm-12">
    <p-table
      [responsive]="true"
      [columns]="columnas"
      [value]="clientes"
      [lazy]="true"
      (onLazyLoad)="cargarDatosLazy($event)"
      [paginator]="true"
      [rows]="rows"
      [totalRecords]="totalRegistros"
      [first]="skip"
      [selectionMode]="'single'"
      (onRowSelect) = "obtenerClienteSeleccionado($event)"
    >
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th class="text-center" *ngFor="let col of columnas">
            {{col.header}}
          </th>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td [attr.colspan]="columnas.length">
            No existen registros
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-rowData let-rowIndex let-columns="columns">
        <tr [pSelectableRow]="rowData">
          <td class="text-center" *ngFor="let col of columnas">
            <span class="ui-column-title">{{col.header}}</span>
            <div *ngIf="col.header === '#'">
              {{clientes.indexOf(rowData)+1}}
            </div>

            <div *ngIf="col.field === 'documento'">
              {{rowData[col.field]}}
            </div>

            <div *ngIf="col.field === 'razonSocial'">
              {{rowData[col.field]}}
              <p *ngIf="rowData.empresa">
                Empresa: {{rowData.empresa.ruc}} / {{rowData.empresa.razonSocial}}
              </p>
              <p *ngIf="!rowData.empresa">
                Empresa: No posee empresa
              </p>
              <div class="" *ngIf="esVenta">
                <button class="btn btn-sm btn-block btn-info" (click)="abrirModalEditarInformacionTributaria(rowData)" >Editar</button>
              </div>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

