.item-accion{
  margin-top: 5px;
  margin-bottom: 5px;
}
.item-menu {
  max-height: 50px;
  margin-bottom: 14px;

}
.boton-accion{
  min-height: 70px;
}

@media screen and (max-width: 760px) {
  .boton-accion{
    min-height: 10px;
  }
}
