<ng-container *transloco="let g; read: 'generales'">
  <ng-container *transloco="let t; read: rutaTraduccion">
    <man-lab-modal-general
      [nombreBotonAceptar]="g('botones.asignar')"
      [nombreBotonCancelar]="g('botones.cancelar')"
      [formularioValido]="modalValido"
      (dioClickEnCancelar)="cerrarModal()"
      (dioClickEnAceptar)="aceptarPrecioSeleccionado()"
    >

      <div class="titulo">{{t('titulos.titulo')}} </div>

      <div class="contenido">


        <div class="row">
          <div class="col-md-12">
            <p class="descripcion-modal">{{t('descripciones.modal')}}</p>
          </div>

          <div class="col-sm-12">
            <ml-lista-precio
              [idArticuloEmpresa]="data.idArticuloEmpresa"
              (precioSeleccionado)="obtenerPrecioSeleccionado($event)"
            >

            </ml-lista-precio>
          </div>
          <div class="espacio"></div>
        </div>

      </div>
    </man-lab-modal-general>
  </ng-container>
</ng-container>
