
<form novalidate [formGroup]="datosContacto.formGroup">
    <fieldset class="col-md-12">
        <div class="row">
            <!--telefono-->
            <div class="col-sm-12 form-group" *ngIf="!configuracionDisabled.Telefono.hidden">
                <div class="row">
                    <label class="col-sm-4 control-label" [for]="datosContacto.mensajesValidacionTelefono.nombreInput">{{
                        datosContacto.mensajesValidacionTelefono.nombreAPresentarse }}</label>
                    <div class="col-sm-8">
                        <input type="text"
                                class="form-control form-control-sm"
                                [id]="datosContacto.mensajesValidacionTelefono.nombreInput"
                                [name]="datosContacto.mensajesValidacionTelefono.nombreInput"
                                [formControlName]="datosContacto.mensajesValidacionTelefono.nombreInput"
                                [placeholder]="datosContacto.mensajesValidacionTelefono.tooltip"
                                [title]="datosContacto.mensajesValidacionTelefono.title"
                                aria-describedby="datosContactoTelefonoAyuda"
                                maxlength="9"


                        >
                        <small id="datosContactoTelefonoAyuda" class="form-text text-muted">{{datosContacto.mensajesValidacionTelefono.title}}.</small>
                    </div>
                    <div class="col-sm-12">

                        <div class="animated fadeInUp alert alert-warning" role="alert"
                            *ngIf="datosContacto.mensajesValidacionTelefono.mensajes.length>0">
                            <div *ngFor="let mensaje of datosContacto.mensajesValidacionTelefono.mensajes">{{ mensaje }}</div>
                        </div>
                    </div>
                </div>
            </div>

            <!--celular-->
            <div class="col-sm-12 form-group" *ngIf="!configuracionDisabled.Celular.hidden">
                <div class="row">
                    <label class="col-sm-4 control-label" [for]="datosContacto.mensajesValidacionCelular.nombreInput">{{
                        datosContacto.mensajesValidacionCelular.nombreAPresentarse + ' *' }}</label>
                    <div class="col-sm-8">
                        <input type="text"
                                class="form-control form-control-sm"
                                [id]="datosContacto.mensajesValidacionCelular.nombreInput"
                                [name]="datosContacto.mensajesValidacionCelular.nombreInput"
                                [formControlName]="datosContacto.mensajesValidacionCelular.nombreInput"
                                [placeholder]="datosContacto.mensajesValidacionCelular.tooltip"
                                [title]="datosContacto.mensajesValidacionCelular.title"
                                aria-describedby="datosContactoCelularAyuda"
                                maxlength="10"


                        >
                        <small id="datosContactoCelularAyuda" class="form-text text-muted">{{datosContacto.mensajesValidacionCelular.title}}.</small>
                    </div>
                    <div class="col-sm-12">

                        <div class="animated fadeInUp alert alert-warning" role="alert"
                            *ngIf="datosContacto.mensajesValidacionCelular.mensajes.length>0">
                            <div *ngFor="let mensaje of datosContacto.mensajesValidacionCelular.mensajes">{{ mensaje }}</div>
                        </div>
                    </div>
                </div>
            </div>

            <!--email-->
            <div class="col-sm-12 form-group" *ngIf="!configuracionDisabled.Email.hidden">
                <div class="row">
                    <label class="col-sm-4 control-label" [for]="datosContacto.mensajesValidacionEmail.nombreInput">{{
                        datosContacto.mensajesValidacionEmail.nombreAPresentarse}}</label>
                    <div class="col-sm-8">
                        <input type="email"
                                class="form-control form-control-sm"
                                [id]="datosContacto.mensajesValidacionEmail.nombreInput"
                                [name]="datosContacto.mensajesValidacionEmail.nombreInput"
                                [formControlName]="datosContacto.mensajesValidacionEmail.nombreInput"
                                [placeholder]="datosContacto.mensajesValidacionEmail.tooltip"
                                [title]="datosContacto.mensajesValidacionEmail.title"
                                aria-describedby="datosContactoEmailAyuda"
                                maxlength="50"

                        >
                        <small id="datosContactoEmailAyuda" class="form-text text-muted">{{datosContacto.mensajesValidacionEmail.title}}.</small>
                    </div>
                    <div class="col-sm-12">

                        <div class="animated fadeInUp alert alert-warning" role="alert"
                            *ngIf="datosContacto.mensajesValidacionEmail.mensajes.length>0">
                            <div *ngFor="let mensaje of datosContacto.mensajesValidacionEmail.mensajes">{{ mensaje }}</div>
                        </div>
                    </div>
                </div>
            </div>

            <!--fax-->
            <div class="col-sm-12 form-group" *ngIf="!configuracionDisabled.Fax.hidden">
                <div class="row">
                    <label class="col-sm-4 control-label" [for]="datosContacto.mensajesValidacionFax.nombreInput">{{
                        datosContacto.mensajesValidacionFax.nombreAPresentarse }}</label>
                    <div class="col-sm-8">
                        <input type="text"
                                class="form-control form-control-sm"
                                [id]="datosContacto.mensajesValidacionFax.nombreInput"
                                [name]="datosContacto.mensajesValidacionFax.nombreInput"
                                [formControlName]="datosContacto.mensajesValidacionFax.nombreInput"
                                [placeholder]="datosContacto.mensajesValidacionFax.tooltip"
                                [title]="datosContacto.mensajesValidacionFax.title"
                                aria-describedby="datosContactoFaxAyuda"
                                maxlength="20"


                        >
                        <small id="datosContactoFaxAyuda" class="form-text text-muted">{{datosContacto.mensajesValidacionFax.title}}.</small>
                    </div>
                    <div class="col-sm-12">

                        <div class="animated fadeInUp alert alert-warning" role="alert"
                            *ngIf="datosContacto.mensajesValidacionFax.mensajes.length>0">
                            <div *ngFor="let mensaje of datosContacto.mensajesValidacionFax.mensajes">{{ mensaje }}</div>
                        </div>
                    </div>
                </div>
            </div>

            <!--esPrincipal-->
            <div class="col-sm-12 form-group" *ngIf="!configuracionDisabled.EsPrincipal.hidden">
                <div class="row">
                    <label class="col-sm-4 control-label" [for]="datosContacto.mensajesValidacionEsPrincipal.nombreInput">{{
                    datosContacto.mensajesValidacionEsPrincipal.nombreAPresentarse + ' *'}}</label>
                    <div class="col-sm-8">
                        <select class="form-control form-control-sm" [name]="datosContacto.mensajesValidacionEsPrincipal.nombreInput"
                                [id]="datosContacto.mensajesValidacionEsPrincipal.nombreInput"
                                [formControlName]="datosContacto.mensajesValidacionEsPrincipal.nombreInput"
                        >

                            <option value=1>Sí</option>
                            <option value=0>No</option>

                        </select>
                      <small id="datosContactoEsPrincipaloAyuda" class="form-text text-muted">{{datosContacto.mensajesValidacionEsPrincipal.title}}.</small>
                    </div>
                    <div class="col-sm-12">
                        <div class="animated fadeInUp alert alert-warning" role="alert"
                            *ngIf="datosContacto.mensajesValidacionEsPrincipal.mensajes.length>0">
                            <div *ngFor="let mensaje of datosContacto.mensajesValidacionEsPrincipal.mensajes">{{ mensaje }}</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </fieldset>
</form>
